:root {
  --color-primary: #011627;
  --color-secondary: #8b8c8a;
  --color-danger: #e71d36;
  --color-warning: #ff9f1c;
  --color-info: #2ec4b6;
  --color-background: #182b3a;
  --color-white: #fdfffc;
  --color-black: #171817;
  --color-overlay: rgba(253, 255, 252, 0.8);
}

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0px;
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
}

.navBarHeight {
  height: var(--navbar-height);
}

nav.topnav {
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 100;
}

.m-t-navBarHeight {
  margin-top: var(--navbar-height);
}

.brand-button {
  background-color: var(--orange);
  color: var(--white);
  border-style: none;
  text-align: center;
  cursor: pointer;
  padding: 8px;
  text-size: 100%;
}

.brand-button:disabled {
  background-color: var(--primary);
  cursor: not-allowed;
  color: var(--gray);
}

.brand-link {
  text-decoration: none;
  color: var(--blue);
}

.brand-link:visited {
  color: var(--orange);
}

.margin-bottom-16 {
  margin-bottom: 16px;
}
