:root {
  --white-overlay: rgba(253, 255, 252, 0.8);
  /* imperial colors */
  --imperial-red: #bc1e22;
  --imperial-white: #ffffff;
  --imperial-black: #000000;
  --imperial-green: #556567;
  --imperial-blue: #394a59;
  --imperial-primary: #64696c;
  --imperial-yellow: #f6a32d;
  /* Rebel colors */
  --rebel-red: #d40000;
  --rebel-white: #ffffff;
  --rebel-black: #000000;
  --rebel-green: #17af0a;
  --rebel-blue: #2719c7;
  --rebel-primary: #f26419;
  --rebel-yellow: #f6a32d;
  /* defaults */
  --color-primary: var(--imperial-primary);
  --color-secondary: var(--imperial-red);
  --color-contrast: var(--imperial-white);
  --color-success: var(--imperial-green);
  --color-danger: var(--rebel-primary);
  --color-warning: var(--imperial-yellow);
  --color-info: var(--imperial-blue);
  --background: var(--imperial-black);
}

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0px;
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
  color: var(--white);
  --navbar-height: 60px;
}

.navBarHeight {
  height: var(--navbar-height);
}

nav.topnav {
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 100;
}

.m-t-navBarHeight {
  margin-top: var(--navbar-height);
}

.brand-button {
  background-color: var(--orange);
  color: var(--white);
  border-style: none;
  text-align: center;
  cursor: pointer;
  padding: 8px;
  text-size: 100%;
}

.brand-button:disabled {
  background-color: var(--primary);
  cursor: not-allowed;
  color: var(--gray);
}

.brand-link {
  text-decoration: none;
  color: var(--blue);
}

.brand-link:visited {
  color: var(--orange);
}

.margin-bottom-16 {
  margin-bottom: 16px;
}
